.shower {
  --accent: #3a2d72;
}

.shower .caption h1 {
  line-height: 1.2;
}
.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
}

.slide.cover h2 {
  text-shadow: -1.5px -1.5px 0 white,
                1.5px -1.5px 0 white,
               -1.5px  1.5px 0 white,
                1.5px  1.5px 0 white;
}
.dark.slide.cover h2 {
  color: var(--accent);
  box-shadow: 0 0 100px white;
  background-color: rgba(255, 255, 255, .5);
}

.slide figure.cover.width.margin > :first-child {
  width: 88%
}
.slide h2 + figure.cover.margin > :first-child {
  margin-top: 2em;
}
.slide h2 + figure.cover.height.margin > :first-child,
.slide ul + figure.cover.height.margin > :first-child {
  height: 75%;
}

ins {
  color: var(--accent);
  text-decoration: none;
  font-style: italic;
}

del {
  text-decoration-color: var(--accent);
  text-decoration-thickness: .1em;
}

blockquote:first-child {
  margin-top: 3em;
}
blockquote p {
  font-weight: bold;
  font-style: italic;
}
cite {
  font-size: 90%;
}
